body {
    background-color: #f4f4f4;
    padding: 25px 0 0 0;
    font-family: roboto;
}

h2 {
    font-weight: 400;
    margin: 5px 0 5px 0;
    color: #4285F4;
}

h3 {
    padding: 0;
    margin: 5px 0 5px 0;
    color: #4285F4;
}

h4 {
    font-weight: 400;
    padding: 0;
    margin: 5px 0 5px 0;
    color: #4285F4;
}

h5 {
    font-weight: 400;
    padding: 0;
    margin: 5px 0 5px 0;
    /*color: #4285F4;*/
}

h6 {
    font-weight: 400;
    padding: 0;
    margin: 10px 0 10px 0;
    /*color: #4285F4;*/
}

.panel {
    padding: 5px;
    background: #ffffff;
    color: #767270;
}

.panel-heading {
    font-size: 30px;
    color: #4285F4;
    text-align: left;
}

.panel-header {
    font-weight: 700;
    text-align: left;
}

.panel-body {
    padding: 5px;
}

a:link {
    color: #4285F4;
}

a:visited {
    color: #4285F4;
}

a:hover {
    color: #0d47a1;
}

a:active {
    color: #4285F4;
}

.blue {
    back-ground: color: #4285F4;
    color: #ffffff;
}

.caption {
    font-weight: 400;
    text-align: center;
}